body {
    background: green;
    margin: 0;
}

header {
    padding: 20px;
    background: black;
    color: green;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header #link-wrapper {
    display: none;
}

#nav-links  {

    display: flex;
    flex-direction: row;

    list-style: none;
    text-decoration: none;
}

#nav-links li {
    margin: 0 5px;
    text-decoration: none;
}

#nav-links a {
    text-decoration: none;
}

header a.icon {
    background: green;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 100px;
}

#nav-links a:hover {
    background: blue;
    color: black;
}