body {
    background: green;
    margin: 0;
}

header {
    padding: 20px;
    background: black;
    color: green;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header #link-wrapper {
    display: none;
}

#nav-links  {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
}

#nav-links li {
    margin: 0 5px;
    text-decoration: none;
}

#nav-links a {
    text-decoration: none;
}

.standard-spacing {
    padding: 5px;
}

header a.icon {
    display: block;
    margin-left: auto;
    border: 1px solid green;
    padding: 5px;
    color: green;
}

#nav-links a:hover {
    background: blue;
    color: black;
}


/*NEXT HEADER*/
.next-header {
    background: red;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

#next-drop {
    background: black;
    color: red;
    margin-top: 0px;
    padding: 10px;
    display: none;
    /*display: block;*/
}

#next-drop ul {
    list-style: none;
    padding: 0;
}

#next-drop li {
    padding: 10px;
}

#next-drop li:hover {
    background: red;
    color: black;
}

/*RESPONSIVE HEADER*/

.resp-header {
    background: deepskyblue;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

#response-wrapper {
    /*background: black;*/
    /*color: red;*/
    /*margin-top: 0px;*/
    /*padding: 10px;*/
    /*display: none;*/
    /*display: block;*/
}

#response-wrapper ul {
    /*display: flex;*/
    display: none;
}

#resp {
    /*display: none;*/
    padding: 10px;
}

@media screen and (min-width: 567px){
    #resp {
        display: none;
    }

    #response-wrapper ul {
        display: flex;
        /*display: none;*/
        list-style: none;
        padding: 0;
    }

    #response-wrapper a {
        text-decoration: none;
        /*padding: 10px;*/
    }
}

#ghost-nav {
    background: black;
    color: deepskyblue;
    margin-top: 0px;
    padding: 10px;
    display: none;
    /*display: block;*/
}

#ghost-nav ul {
    list-style: none;
    padding: 0;
}

#ghost-nav li {
    padding: 10px;
}

#ghost-nav li:hover {
    background: deepskyblue;
    color: black;
}