body {
    background: green;
    margin: 0;
}

header {
    padding: 20px;
    background: black;
    color: green;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header #link-wrapper {
    display: none;
}

#nav-links  {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
}

#nav-links li {
    margin: 0 5px;
    text-decoration: none;
}

#nav-links a {
    text-decoration: none;
}

.standard-spacing {
    padding: 5px;
}

header a.icon {
    display: block;
    margin-left: auto;
    border: 1px solid green;
    padding: 5px;
    color: green;
}

#nav-links a:hover {
    background: blue;
    color: black;
}


/*NEXT HEADER*/
.next-header {
    background: red;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

#next-drop {
    background: black;
    color: red;
    margin-top: 0px;
    padding: 10px;
    display: none;
    /*display: block;*/
}

#next-drop ul {
    list-style: none;
    padding: 0;
}

#next-drop li {
    padding: 10px;
}

#next-drop li:hover {
    background: red;
    color: black;
}

/*RESPONSIVE HEADER*/

.resp-header {
    background: deepskyblue;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.resp-header a#resp {
    border: 2px solid black;
}

#response-wrapper {
    /*background: black;*/
    /*color: red;*/
    /*margin-top: 0px;*/
    /*padding: 10px;*/
    /*display: none;*/
    /*display: block;*/
}

#response-wrapper ul {
    /*display: flex;*/
    display: none;
}

#resp {
    /*display: none;*/
    padding: 10px;
}

@media screen and (min-width: 567px){
    #resp {
        display: none;
    }

    #response-wrapper ul {
        display: flex;
        /*display: none;*/
        list-style: none;
        padding: 0;
    }

    #response-wrapper a {
        text-decoration: none;
        /*padding: 10px;*/
    }
}

#ghost-nav {
    background: black;
    color: deepskyblue;
    margin-top: 0px;
    padding: 10px;
    display: none;
    /*display: block;*/
}

#ghost-nav ul {
    list-style: none;
    padding: 0;
}

#ghost-nav li {
    padding: 10px;
}

#ghost-nav li:hover {
    background: deepskyblue;
    color: black;
}






/*body {*/
/*    margin: 0;*/
/*}*/
/*table {*/
/*    border-collapse: collapse;*/
/*    margin: 15px 0;*/
/*}*/

/*td, th {*/
/*    border: 1px solid black;*/
/*    padding: 5px 10px;*/
/*}*/

/*.coffee {*/
/*    display: flex;*/
/*    padding: 10px;*/
/*    width: 200px;*/
/*    align-items: center;*/
/*    transition: transform 0.75s ease;*/
/*    border: 2px solid black;*/
/*    margin: 5px 10px;*/
/*}*/


/*.coffee p,*/
/*.coffee h4 {*/
/*    margin: 0;*/
/*    padding: 5px;*/
/*}*/

/*.coffee:hover {*/
/*    transform: scale(1.1);*/
/*    box-shadow: 0px 0px 10px black;*/
/*}*/

/*#coffees {*/
/*    width: 95%;*/
/*    margin: 10px auto;*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*    flex-wrap: wrap;*/
/*}*/

/*h4 {*/
/*    font-size: 1.5rem;*/
/*}*/

/*p {*/
/*    font-size: 1.1rem;*/
/*}*/

/*!*FOR ADD FORM*!*/
/*#add-form {*/
/*    display: none;*/
/*}*/