body {
    background: green;
    margin: 0;
}

header {
    padding: 20px;
    background: black;
    color: green;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}